@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@import "abstracts/mediaQueries";
@import "abstracts/typography";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";

@import "layout/default";
@import "layout/tour";
@import "layout/grid";

@import "base/form";
@import "base/progress";
@import "base/icons";
@import "components/buttons";
@import "components/modal";
@import "components/tab";
@import "components/card";
@import "components/navbar";


@import "themes";
